<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css"
  integrity="sha384-wFjoQjtV1y5jVHbt0p35Ui8aV8GVpEZkyF99OXWqP/eNJDU93D3Ugxkoyh6Y2I4A"
  crossorigin="anonymous"
/>
{% if prismDiff %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/diff-highlight/prism-diff-highlight.min.css"
    integrity="sha384-+6uvm3GUSjlyflDZEK9KESK6WhTZpa2dKDZpkAIGaY9S1leCFFia+n34ujtK7/fY"
    crossorigin="anonymous"
  />
{% endif %}
