---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for path in site.staticPages %}
    <url><loc>{{ site.url }}{{ path }}</loc></url>
  {% endfor %}
  {% for post in collections.blogPosts %}
    <url>
      <loc>{{ site.url }}{{ post.url }}</loc>
      <lastmod>{{ (post.data.updated or post.data.published) | dateOnly }}</lastmod>
    </url>
  {% endfor %}
</urlset>
